@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';
.cta-col {
	@include media-breakpoint-down(sm) {
		justify-content: center;
	}
}
.cta-list {
	@include media-breakpoint-down(sm) {
		text-align: center;
	}
}
.first-row-1 {
	@include media-breakpoint-down(sm) {
		text-align: center;
	}
}
.first-row-2 {
	text-align: left;
	@include media-breakpoint-down(sm) {
		text-align: center;
		order: 1;
	}
}
// @import '../node_modules/bootstrap/scss/bootstrap';
